[windows]
192.168.122.196

[windows:vars]
  ansible_user=admin
  ansible_password=secretpass
  ansible_connection=winrm
  ansible_port=5985
  ansible_winrs_scheme=http
  ansible_winrm_transport=basic
  ansible_winrm_server_cert_validation=ignore
