Source: bitmask
Section: misc
Priority: extra
Maintainer: Ben Carrillo <ben@futeisha.org>
Standards-Version: 3.9.6
Uploaders: Micah Anderson <micah@debian.org>
Homepage: https://leap.se
Build-Depends: debhelper (>= 8.0.0), dh-python, python, python-setuptools,
               pep8, python-sphinx, docutils-common, pyqt5-dev-tools,
               docutils-common, python-keyring, python-dateutil, python-argparse
X-Python-Version: >= 2.7 

Package: bitmask
Architecture: all
Depends:
  ${misc:Depends}, ${python:Depends},
  python-openssl,
  python-cryptography,
  python-srp,
  python-dateutil,
  python-daemon,
  python-argparse,
  python-logbook (>= 0.7.0-1),
  python-psutil,
  python-requests (>= 1.2.3-1),
  python-jsonschema (>= 0.7.0),
  python-setuptools,
  python-zope.proxy,
  openvpn,
  python-pyqt5,
  python-pyqt5.qtwebkit,
  python-twisted-core (>= 14.0.2),
  python-leap-common,
  soledad-client,
  python-whoosh,
# This is a workaround to broken python-srp in wily.
# We should remove libssl-dev when #7566 is solved
  libssl-dev
Recommends: xul-ext-bitmask
Suggests: policykit-1-gnome
Enhances: openvpn, gnupg
Description: Provides the desktop client for LEAP 
 The LEAP project aims to secure everyday communication.
 .
 This client is necessary for users to run on their local machines for:
 .
 * The LEAP VPN service which provides circumvention, location anonymization,
 and traffic encryption in a hassle-free, automatically self-configuring
 fashion, and has an enhanced level of security.
 .
 * The LEAP email service which provides full end-to-end client-encrypted email,
 quietly handling the complexities of public key encryption and allowing for
 backward compatibility with legacy email when necessary. Email is encrypted and
 stored so only the recipient can read it, both locally and when synchronized
 with the server; all message relay among service providers is required to be
 encrypted when possible; and public keys are automatically discovered and
 validated.

Package: bitmask-core
Architecture: all
Depends: python-twisted-core,
  python-zope.interface,
  leap-bonafide
Suggests: bitmask-cli
Provides: leap.bitmask.core, ${python:Provides}
# Replaces: ...
# Breaks: ...
Description: Desktop client to access LEAP Services.
 The LEAP project aims to secure everyday communication.
 .
 This package provides the core daemon.


Package: bitmask-cli
Architecture: all
Depends: bitmask-core
Provides: leap.bitmask.cli, ${python:Provides}
# Replaces: ...
# Breaks: ...
Description: Desktop client to access LEAP Services.
 The LEAP project aims to secure everyday communication.
 .
 This package provides the command line client.
