Source: bitmask
Section: misc
Priority: extra
Maintainer: Kali Kaneko <kali@leap.se>
Uploaders: LEAP automated build <sysdev@leap.se>
Homepage: https://bitmask.net
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9.0.0), dh-python, python, python-setuptools, pep8,
               pyqt5-dev-tools, python-docutils
# XXX we're not installing sphinx docs now. in zesty we'll need universe,
# sphinx has been moved there.
# python-sphinx
X-Python-Version: >= 2.7

Package: bitmask-core
Architecture: all
Provides: leap.bitmask.core, leap.bitmask.cli
Depends:
  ${misc:Depends}, ${python:Depends},
  python-openssl,
  python-setuptools,
  python-cryptography,
  python-srp,
  python-jsonschema (>= 0.7.0),
  python-zope.proxy,
  python-twisted-core (>= 14.0.2),
  python-leap-common,
# This is a workaround to broken python-srp in wily.
# We should remove libssl-dev when #7566 is solved
#  libssl-dev
Description: Provides the desktop client for LEAP
 The LEAP project aims to secure everyday communication.
 .
 This client is necessary for users to run on their local machines for:
 .
 * The LEAP VPN service which provides circumvention, location anonymization,
 and traffic encryption in a hassle-free, automatically self-configuring
 fashion, and has an enhanced level of security.
 .
 * The LEAP email service which provides full end-to-end client-encrypted email,
 quietly handling the complexities of public key encryption and allowing for
 backward compatibility with legacy email when necessary. Email is encrypted and
 stored so only the recipient can read it, both locally and when synchronized
 with the server; all message relay among service providers is required to be
 encrypted when possible; and public keys are automatically discovered and
 validated.
 .
 This package provides the core daemon.

Package: bitmask-qt
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
         python-pyqt5,
         python-pyqt5.qtwebkit,
# XXX this depends also on leap-bitmask-js
Provides: leap.bitmask.gui
Description: Desktop client to access LEAP Services.
 The LEAP project aims to secure everyday communications.
 .
 This package provides the qt5 gui.

Package: bitmask-vpn
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
         bitmask-core,
         openvpn
Suggests: policykit-1-gnome
Enhances: openvpn
Provides: leap.bitmask.vpn
Description: Desktop client to access LEAP Services.
 The LEAP project aims to secure everyday communications.
 .
 This package provides the core daemon.

Package: bitmask-mail
Architecture: all
Depends: bitmask-core, gnupg1,
         soledad-client,
Recommends: xul-ext-bitmask
Suggests: bitmask-mua
Enhances: gnupg1
Provides: leap.bitmask.mail
Description: Desktop client to access LEAP Services.
 The LEAP project aims to secure everyday communications.
 .
 This package provides the Bitmask Mail components.

Package: bitmask-chromium
Architecture: all
Depends: bitmask-core,
Provides: leap.bitmask.chrome
Description: Desktop client to access LEAP Services.
 The LEAP project aims to secure everyday communication.
 .
 This package provides a chromium launcher.

Package: bitmask-mua
Architecture: all
Depends: bitmask-mail,
         python-whoosh, python-requests, python-chardet
# XXX this depends on leap-pixelated, leap-pixelated-www
Provides: leap.bitmask.mua
Description: Desktop client to access LEAP Services.
 The LEAP project aims to secure everyday communication.
 .
 This package provides the Pixelated MUA.
