#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Uncomment this to turn on verbose mode.
DH_VERBOSE=1
DH_BUILD_MAINT_OPTIONS=nocheck
package=bitmask

PYTHON2=$(shell pyversions -vr)

# Prevent setuptools/distribute from accessing the internet.
# but careful! node needs to unset this to get random crap from the intertubes.
export http_proxy = http://127.0.0.1:9

%:
	dh $@ --with python2 --namespace=leap --buildsystem=python_distutils


override_dh_prep:
	rst2man docs/man/bitmask.1.rst docs/man/bitmask.1
	rst2man docs/man/bitmask-root.1.rst docs/man/bitmask-root.1

	dh_prep
	# this will re-generate the resource files and locales.
	make -f ./Makefile qt-resources

	# build the ui package
	cd ui && make clean && make pydist-build

# build and install sphinx docs
 
override_dh_installdocs:
#	python setup.py build_sphinx
	dh_installdocs

override_dh_installchangelogs:
	 dh_installchangelogs docs/changelog.rst

override_dh_auto_clean:
	dh_auto_clean
	rm -rf .tox
	rm -rf bin
	rm -rf build
	rm -rf dist
	rm -rf lib/
	rm -rf docs/_build 
	rm -rf *.egg-info
	rm -rf .eggs/
	rm -f docs/man/bitmask.1
	rm -f docs/man/bitmask-root.1
	rm -rf docs/covhtml
	rm -rf docker
