
@left-margin: 30px;

.body {
}

.header .title {
  line-height: 32px;
  padding-left: 15px;
}

.darkBg {
  background-color: #333;
  padding: 8px;
  position: absolute;
  height: 100%;
  width: 100%;

  display: -webkit-flex;
  display: flex;

  .header {
    .title {
      font-weight: bold;
      color: white;
      display: inline-block;
      //margin-left: 8px;
      font-size: 120%;
      h1 {
        margin: 0px;
      }
    }
  }
}

.lightFg {
  border-radius: 4px;
  background-color: #fff;
}

.key-list-item {
  border-bottom: 1px solid #ccc;
  .top-row {
    &:hover {
      background-color: #eee;
    }
    padding: 15px;
    font-weight: bold;
    font-size: 1.2em;
    &:first-child {
      border-radius: 4px 4px 0 0;
    }
  }
  .expander {
    width: @left-margin;
    float: left;
    .glyphicon {}
  }
  .address {
    margin-left: @left-margin;
    word-break: break-all;
  }
  .details {
    margin-left: @left-margin;
    padding: 15px;
  }
  .btn-toolbar {
    margin-top: 15px;
  }
  .labels .label {
    margin-left: 6px;
  }
}