[Desktop Entry]
Version=1.0
Type=Application
Name=RiseupVPN
Comment=Anonymous VPN
Comment[es]=VPN Anonima
Comment[de]=Secure Communication
Exec=/snap/bin/riseup-vpn.launcher
Terminal=false
Icon=riseup-vpn
Categories=Network;Application;
StartupNotify=true
Keywords=VPN;riseup;leap

