[Desktop Entry]
Version=1.0
Type=Application
Name=RiseupVPN
Comment=Anonymous VPN
Comment[es]=VPN Anonima
Comment[de]=Secure Communication
Path=/snap/bin
Exec=riseup-vpn.launcher
Terminal=false
Icon=../riseup-vpn/current/snap/gui/riseupvpn.svg
Categories=Network;Application;
StartupNotify=true
Keywords=VPN;riseup;leap

